# **An√°lisis Exploratorio de los Datos (EDA)**

En esta secci√≥n se tiene como objetivo realizar un an√°lisis exploratorio de un conjunto de datos cargado en formato CSV. El prop√≥sito es comprender mejor las variables disponibles, identificar patrones generales, detectar valores at√≠picos y preparar el terreno para an√°lisis posteriores.

Trabajaremos paso a paso a trav√©s de la carga, inspecci√≥n, limpieza y visualizaci√≥n de los datos, utilizando Python y bibliotecas como `pandas`, `matplotlib`, y `seaborn`.

## üì¶ **Importaci√≥n de Librer√≠as**

En esta secci√≥n cargamos las bibliotecas necesarias para la manipulaci√≥n y visualizaci√≥n de datos.

In [1]:
# Importamos las librer√≠as b√°sicas necesarias para el an√°lisis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ucimlrepo import fetch_ucirepo
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import neighbors
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import r2_score
from sklearn.metrics import explained_variance_score
# Establecemos el estilo de los gr√°ficos
sns.set(style="whitegrid", palette="pastel")

## **üìÇ Cargar la base de datos**

Aqu√≠ leemos el archivo CSV que contiene los datos. Es importante verificar que se cargue correctamente y revisar las primeras filas para asegurarnos de que la estructura sea la esperada.

In [2]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697)

# data (as pandas dataframes)
X = predict_students_dropout_and_academic_success.data.features
y = predict_students_dropout_and_academic_success.data.targets

# metadata
print(predict_students_dropout_and_academic_success.metadata)

# variable information
print(predict_students_dropout_and_academic_success.variables)

{'uci_id': 697, 'name': "Predict Students' Dropout and Academic Success", 'repository_url': 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success', 'data_url': 'https://archive.ics.uci.edu/static/public/697/data.csv', 'abstract': "A dataset created from a higher education institution (acquired from several disjoint databases) related to students enrolled in different undergraduate degrees, such as agronomy, design, education, nursing, journalism, management, social service, and technologies.\nThe dataset includes information known at the time of student enrollment (academic path, demographics, and social-economic factors) and the students' academic performance at the end of the first and second semesters. \nThe data is used to build classification models to predict students' dropout and academic sucess. The problem is formulated as a three category classification task, in which there is a strong imbalance towards one of the classes.", 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Tabular'], 'num_instances': 4424, 'num_features': 36, 'feature_types': ['Real', 'Categorical', 'Integer'], 'demographics': ['Marital Status', 'Education Level', 'Nationality', 'Occupation', 'Gender', 'Age'], 'target_col': ['Target'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2021, 'last_updated': 'Mon Feb 26 2024', 'dataset_doi': '10.24432/C5MC89', 'creators': ['Valentim Realinho', 'M√≥nica Vieira Martins', 'Jorge Machado', 'Lu√≠s Baptista'], 'intro_paper': {'ID': 99, 'type': 'NATIVE', 'title': "Early prediction of student's performance in higher education: a case study", 'authors': 'M√≥nica V. Martins, Daniel Tolledo, Jorge Machado, Lu√≠s M. T. Baptista, and Valentim Realinho', 'venue': 'Trends and Applications in Information Systems and Technologies', 'year': 2021, 'journal': 'Advances in Intelligent Systems and Computing series', 'DOI': 'http://www.doi.org/10.1007/978-3-030-72657-7_16', 'URL': 'http://www.worldcist.org/2021/', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': None, 'purpose': 'The dataset was created in a project that aims to contribute to the reduction of academic dropout and failure in higher education, by using machine learning techniques to identify students at risk at an early stage of their academic path, so that strategies to support them can be put into place. \n\nThe dataset includes information known at the time of student enrollment ‚Äì academic path, demographics, and social-economic factors. \n\nThe problem is formulated as a three category classification task (dropout, enrolled, and graduate) at the end of the normal duration of the course. \n', 'funded_by': 'This dataset is supported by program SATDAP - Capacita√ß√£o da Administra√ß√£o P√∫blica under grant POCI-05-5762-FSE-000191, Portugal.', 'instances_represent': 'Each instance is a student', 'recommended_data_splits': 'The dataset was used, in our project, with a data split of 80% for training and 20% for test.', 'sensitive_data': None, 'preprocessing_description': 'We performed a rigorous data preprocessing to handle data from anomalies, unexplainable outliers, and missing values.', 'variable_info': None, 'citation': 'If you use this dataset in experiments for a scientific publication, please kindly cite our paper: \nM.V.Martins, D. Tolledo, J. Machado, L. M.T. Baptista, V.Realinho. (2021) "Early prediction of student‚Äôs performance in higher education: a case study" Trends and Applications in Information Systems and Technologies, vol.1, in Advances in Intelligent Systems and Computing series. Springer. DOI: 10.1007/978-3-030-72657-7_16'}}
                                              name     role         type  \
0                                   Marital Status  Feature      Integer
1                                 Application mode  Feature      Integer
2                                Application order  Feature      Integer
3                                           Course  Feature      Integer
4                       Daytime/evening attendance  Feature      Integer
5                           Previous qualification  Feature      Integer
6                   Previous qualification (grade)  Feature   Continuous
7                                      Nacionality  Feature      Integer
8                           Mother's qualification  Feature      Integer
9                           Father's qualification  Feature      Integer
10                             Mother's occupation  Feature      Integer
11                             Father's occupation  Feature      Integer
12                                 Admission grade  Feature   Continuous
13                                       Displaced  Feature      Integer
14                       Educational special needs  Feature      Integer
15                                          Debtor  Feature      Integer
16                         Tuition fees up to date  Feature      Integer
17                                          Gender  Feature      Integer
18                              Scholarship holder  Feature      Integer
19                               Age at enrollment  Feature      Integer
20                                   International  Feature      Integer
21             Curricular units 1st sem (credited)  Feature      Integer
22             Curricular units 1st sem (enrolled)  Feature      Integer
23          Curricular units 1st sem (evaluations)  Feature      Integer
24             Curricular units 1st sem (approved)  Feature      Integer
25                Curricular units 1st sem (grade)  Feature      Integer
26  Curricular units 1st sem (without evaluations)  Feature      Integer
27             Curricular units 2nd sem (credited)  Feature      Integer
28             Curricular units 2nd sem (enrolled)  Feature      Integer
29          Curricular units 2nd sem (evaluations)  Feature      Integer
30             Curricular units 2nd sem (approved)  Feature      Integer
31                Curricular units 2nd sem (grade)  Feature      Integer
32  Curricular units 2nd sem (without evaluations)  Feature      Integer
33                               Unemployment rate  Feature   Continuous
34                                  Inflation rate  Feature   Continuous
35                                             GDP  Feature   Continuous
36                                          Target   Target  Categorical

        demographic                                        description units  \
0    Marital Status  1 ‚Äì single 2 ‚Äì married 3 ‚Äì widower 4 ‚Äì divorce...  None
1              None  1 - 1st phase - general contingent 2 - Ordinan...  None
2              None  Application order (between 0 - first choice; a...  None
3              None  33 - Biofuel Production Technologies 171 - Ani...  None
4              None                            1 ‚Äì daytime 0 - evening  None
5   Education Level  1 - Secondary education 2 - Higher education -...  None
6              None  Grade of previous qualification (between 0 and...  None
7       Nationality  1 - Portuguese; 2 - German; 6 - Spanish; 11 - ...  None
8   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
9   Education Level  1 - Secondary Education - 12th Year of Schooli...  None
10       Occupation  0 - Student 1 - Representatives of the Legisla...  None
11       Occupation  0 - Student 1 - Representatives of the Legisla...  None
12             None                Admission grade (between 0 and 200)  None
13             None                                     1 ‚Äì yes 0 ‚Äì no  None
14             None                                     1 ‚Äì yes 0 ‚Äì no  None
15             None                                     1 ‚Äì yes 0 ‚Äì no  None
16             None                                     1 ‚Äì yes 0 ‚Äì no  None
17           Gender                                1 ‚Äì male 0 ‚Äì female  None
18             None                                     1 ‚Äì yes 0 ‚Äì no  None
19              Age                       Age of studend at enrollment  None
20             None                                     1 ‚Äì yes 0 ‚Äì no  None
21             None  Number of curricular units credited in the 1st...  None
22             None  Number of curricular units enrolled in the 1st...  None
23             None  Number of evaluations to curricular units in t...  None
24             None  Number of curricular units approved in the 1st...  None
25             None  Grade average in the 1st semester (between 0 a...  None
26             None  Number of curricular units without evalutions ...  None
27             None  Number of curricular units credited in the 2nd...  None
28             None  Number of curricular units enrolled in the 2nd...  None
29             None  Number of evaluations to curricular units in t...  None
30             None  Number of curricular units approved in the 2nd...  None
31             None  Grade average in the 2nd semester (between 0 a...  None
32             None  Number of curricular units without evalutions ...  None
33             None                              Unemployment rate (%)  None
34             None                                 Inflation rate (%)  None
35             None                                                GDP  None
36             None  Target. The problem is formulated as a three c...  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
31             no
32             no
33             no
34             no
35             no
36             no

## **üîç Exploraci√≥n general del dataset**

In [3]:
# Comprobamos si hay valores faltantes
X.isnull().sum()

# Tipos de variables
X.info()

# Estad√≠sticas b√°sicas de variables num√©ricas
X.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital Status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
dtypes: float64(7), int64(29)
memory usage: 1.2 MB

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,...,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,1.178571,18.669078,1.727848,8856.642631,0.890823,4.577758,132.613314,1.873192,19.561935,22.275316,...,0.137658,0.541817,6.232143,8.063291,4.435805,10.230206,0.150316,11.566139,1.228029,0.001969
std,0.605747,17.484682,1.313793,2063.566416,0.311897,10.216592,13.188332,6.914514,15.603186,15.343108,...,0.690880,1.918546,2.195951,3.947951,3.014764,5.210808,0.753774,2.663850,1.382711,2.269935
min,1.000000,1.000000,0.000000,33.000000,0.000000,1.000000,95.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,1.000000,1.000000,1.000000,9085.000000,1.000000,1.000000,125.000000,1.000000,2.000000,3.000000,...,0.000000,0.000000,5.000000,6.000000,2.000000,10.750000,0.000000,9.400000,0.300000,-1.700000
50%,1.000000,17.000000,1.000000,9238.000000,1.000000,1.000000,133.100000,1.000000,19.000000,19.000000,...,0.000000,0.000000,6.000000,8.000000,5.000000,12.200000,0.000000,11.100000,1.400000,0.320000
75%,1.000000,39.000000,2.000000,9556.000000,1.000000,1.000000,140.000000,1.000000,37.000000,37.000000,...,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,6.000000,57.000000,9.000000,9991.000000,1.000000,43.000000,190.000000,109.000000,44.000000,44.000000,...,12.000000,19.000000,23.000000,33.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

### **Descripci√≥n Estad√≠stica de las variables**

In [4]:
print("\nEstad√≠sticas descriptivas de las variables num√©ricas:")
print(X.describe())

Estad√≠sticas descriptivas de las variables num√©ricas:
       Marital Status  Application mode  Application order       Course  \
count     4424.000000       4424.000000        4424.000000  4424.000000
mean         1.178571         18.669078           1.727848  8856.642631
std          0.605747         17.484682           1.313793  2063.566416
min          1.000000          1.000000           0.000000    33.000000
25%          1.000000          1.000000           1.000000  9085.000000
50%          1.000000         17.000000           1.000000  9238.000000
75%          1.000000         39.000000           2.000000  9556.000000
max          6.000000         57.000000           9.000000  9991.000000

       Daytime/evening attendance  Previous qualification  \
count                 4424.000000             4424.000000
mean                     0.890823                4.577758
std                      0.311897               10.216592
min                      0.000000                1.000000
25%                      1.000000                1.000000
50%                      1.000000                1.000000
75%                      1.000000                1.000000
max                      1.000000               43.000000

       Previous qualification (grade)  Nacionality  Mother's qualification  \
count                     4424.000000  4424.000000             4424.000000
mean                       132.613314     1.873192               19.561935
std                         13.188332     6.914514               15.603186
min                         95.000000     1.000000                1.000000
25%                        125.000000     1.000000                2.000000
50%                        133.100000     1.000000               19.000000
75%                        140.000000     1.000000               37.000000
max                        190.000000   109.000000               44.000000

       Father's qualification  ...  \
count             4424.000000  ...
mean                22.275316  ...
std                 15.343108  ...
min                  1.000000  ...
25%                  3.000000  ...
50%                 19.000000  ...
75%                 37.000000  ...
max                 44.000000  ...

       Curricular units 1st sem (without evaluations)  \
count                                     4424.000000
mean                                         0.137658
std                                          0.690880
min                                          0.000000
25%                                          0.000000
50%                                          0.000000
75%                                          0.000000
max                                         12.000000

       Curricular units 2nd sem (credited)  \
count                          4424.000000
mean                              0.541817
std                               1.918546
min                               0.000000
25%                               0.000000
50%                               0.000000
75%                               0.000000
max                              19.000000

       Curricular units 2nd sem (enrolled)  \
count                          4424.000000
mean                              6.232143
std                               2.195951
min                               0.000000
25%                               5.000000
50%                               6.000000
75%                               7.000000
max                              23.000000

       Curricular units 2nd sem (evaluations)  \
count                             4424.000000
mean                                 8.063291
std                                  3.947951
min                                  0.000000
25%                                  6.000000
50%                                  8.000000
75%                                 10.000000
max                                 33.000000

       Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
count                          4424.000000                       4424.000000
mean                              4.435805                         10.230206
std                               3.014764                          5.210808
min                               0.000000                          0.000000
25%                               2.000000                         10.750000
50%                               5.000000                         12.200000
75%                               6.000000                         13.333333
max                              20.000000                         18.571429

       Curricular units 2nd sem (without evaluations)  Unemployment rate  \
count                                     4424.000000        4424.000000
mean                                         0.150316          11.566139
std                                          0.753774           2.663850
min                                          0.000000           7.600000
25%                                          0.000000           9.400000
50%                                          0.000000          11.100000
75%                                          0.000000          13.900000
max                                         12.000000          16.200000

       Inflation rate          GDP
count     4424.000000  4424.000000
mean         1.228029     0.001969
std          1.382711     2.269935
min         -0.800000    -4.060000
25%          0.300000    -1.700000
50%          1.400000     0.320000
75%          2.600000     1.790000
max          3.700000     3.510000

[8 rows x 36 columns]