# **An谩lisis Exploratorio de los Datos (EDA)**

En esta secci贸n se tiene como objetivo realizar un an谩lisis exploratorio de un conjunto de datos cargado en formato CSV. El prop贸sito es comprender mejor las variables disponibles, identificar patrones generales, detectar valores at铆picos y preparar el terreno para an谩lisis posteriores.

Trabajaremos paso a paso a trav茅s de la carga, inspecci贸n, limpieza y visualizaci贸n de los datos, utilizando Python y bibliotecas como `pandas`, `matplotlib`, y `seaborn`.

##  **Importaci贸n de Librer铆as**

En esta secci贸n cargamos las bibliotecas necesarias para la manipulaci贸n y visualizaci贸n de datos.

In [1]:
# Importamos las librer铆as b谩sicas necesarias para el an谩lisis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ucimlrepo import fetch_ucirepo
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import neighbors
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import r2_score
from sklearn.metrics import explained_variance_score
# Establecemos el estilo de los gr谩ficos
sns.set(style="whitegrid", palette="pastel")

## ** Cargar la base de datos**

Aqu铆 leemos el archivo CSV que contiene los datos. Es importante verificar que se cargue correctamente y revisar las primeras filas para asegurarnos de que la estructura sea la esperada.

In [2]:
df = pd.read_csv("data.csv") 

print("Dimensiones del dataset:", df.shape)

Dimensiones del dataset: (4424, 1)

## ** Exploraci贸n general del dataset**

In [3]:
df.head()

  Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
0  1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1...
1  1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;...
2  1;1;5;9070;1;1;122.0;1;37;37;9;9;124.8;1;0;0;0...
3  1;17;2;9773;1;1;122.0;1;38;37;5;3;119.6;1;0;0;...
4  2;39;1;8014;0;1;100.0;1;37;38;9;9;141.5;0;0;0;...

### **Variables Num茅ricas y categ贸ricas**

In [4]:
# Variables num茅ricas
numerical_vars = df.select_dtypes(include='number')

# Variables categ贸ricas
categorical_vars = df.select_dtypes(include='object')

### **An谩lisis Exploratorio de las variables num茅ricas**