# **An치lisis Exploratorio de los Datos (EDA)**

En esta secci칩n se tiene como objetivo realizar un an치lisis exploratorio de un conjunto de datos cargado en formato CSV. El prop칩sito es comprender mejor las variables disponibles, identificar patrones generales, detectar valores at칤picos y preparar el terreno para an치lisis posteriores.

Trabajaremos paso a paso a trav칠s de la carga, inspecci칩n, limpieza y visualizaci칩n de los datos, utilizando Python y bibliotecas como `pandas`, `matplotlib`, y `seaborn`.

## 游닍 **Importaci칩n de Librer칤as**

En esta secci칩n cargamos las bibliotecas necesarias para la manipulaci칩n y visualizaci칩n de datos.

In [1]:
# Importamos las librer칤as b치sicas necesarias para el an치lisis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import neighbors
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import r2_score
from sklearn.metrics import explained_variance_score
# Establecemos el estilo de los gr치ficos
sns.set(style="whitegrid", palette="pastel")

## **游늭 Cargar la base de datos**

Aqu칤 leemos el archivo CSV que contiene los datos. Es importante verificar que se cargue correctamente y revisar las primeras filas para asegurarnos de que la estructura sea la esperada.

In [2]:
# Cargamos el archivo CSV que contiene los datos
df = pd.read_csv("data.csv")  # Aseg칰rate de que el archivo est칠 en la misma carpeta del notebook

# Mostramos las dimensiones del dataset
print("Dimensiones del dataset:", df.shape)

# Mostramos las primeras filas del conjunto de datos
df.head()

Dimensiones del dataset: (4424, 1)

  Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
0  1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1...
1  1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;...
2  1;1;5;9070;1;1;122.0;1;37;37;9;9;124.8;1;0;0;0...
3  1;17;2;9773;1;1;122.0;1;38;37;5;3;119.6;1;0;0;...
4  2;39;1;8014;0;1;100.0;1;37;38;9;9;141.5;0;0;0;...

## **游댌 Exploraci칩n general del dataset**

In [3]:
# Comprobamos si hay valores faltantes
df.isnull().sum()

# Tipos de variables
df.info()

# Estad칤sticas b치sicas de variables num칠ricas
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         --------------  -----
 0   Marital status;Application mode;Application order;Course;"Daytime/evening attendance	";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target  4424 non-null   object
dtypes: object(1)
memory usage: 34.7+ KB

       Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
count                                                4424
unique                                               4424
top     1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1...
freq                                                    1